/*
  Sizes:
*/
$screen-large: 1024px;
$screen-medium: 768px;
$screen-small: 575px;

/*
  Colors:
*/
// 1
$white: #FBF8F3;
$gray: #C4C4C4;
$black: #232323;

// // 2
// $white: #FFF0EB;
// $gray: #C4C4C4;
// $black: #2D0B00;


/*
  Effects:
*/
$transition: .2s all cubic-bezier(0, 1, .6, 1);