.short-info {
  margin-bottom: 1.5rem;
  .name {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.25rem;
  }
  .position {
    margin-bottom: 1.25rem;
  }
  .biography {
    font-weight: 100;
  }
}